body {
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: monospace;
}

.title {
    margin-top: 3%;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    width: fit-content;
    border-right: 2px solid;
    animation: blink 0.5s infinite;
}

@keyframes blink {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

.side-menu {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.main-body {
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.header-div {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.your-passwords {
    font-size: 24px;
}

.search-input {
    width: 20%;
    border-radius: 20px;
    text-align: center;
    height: 100%;
    border: none;
}

#table {
    width: 100%;
}

.table-row-header {
    width: 98%;
    display: flex;
    background-color: #DEDEDE;
    flex-direction: row;
    height: 30px;
    margin: 10px;
    justify-content: space-evenly;
    border-radius: 25px;
}

.table-row-header th {
    flex: 1;
    padding: 9px;
}

.table-row {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 30px;
    margin: 10px 0;
    flex-direction: row;
    border-radius: 25px;
}

.table-row td {
    flex: 1;
    text-align: center;
    padding: 9px;
}

.delete-header {
    color: red;
}

.delete-icon {
    color: red;
}

.delete-icon:hover {
    cursor: pointer;
}

.table-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    min-height: 85vh;
    border-radius: 15px;
    margin: 1%;
}

.add-div {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 5px;
}

.add-div:hover {
    cursor: pointer;
}

.edit:hover {
    cursor: pointer;
}

.copy:hover {
    cursor: grab;
}